<html>
<head>
  <link rel="stylesheet" href="//dd04rofzygnm0.cloudfront.net/releases/master/865f04865d2448286626bac92c518a8f8ea8bafe/stylesheets/neue.css" />
  <style type="text/css">
    .row.email_token pre {
      margin: 0;
    }

    .row.email_token .email {
      padding-top: 10px;
      padding-left: 30px;
    }
  </style>
</head>
<body>
  <div class="panel panel-default">
    <div class="panel-body">
      <p>Create new token in the settings screen for each new user of the extension.</p>
      <p>Then send them the link generated here:</p>
      <hr />
      <% _.map(authorizedEmails, (authorized, index) => { %>
      <div class="row email_token">
        <div class="col-md-2 email"><%= authorized.email %></div>
        <div class="col-md-8"><pre id="token_<%= index %>">https://<%= hostname %>/install?emailToken=<%= authorized.emailToken %></pre></div>
        <div class="col-md-2">
          <button class="btn btn-block btn-primary" data-clipboard-target="#token_<%= index %>">
            Copy to clipboard
          </button>
        </div>
      </div>
      <hr />
      <% }) %>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/clipboard.js/1.6.0/clipboard.min.js"></script>
  <script>
    new Clipboard('[data-clipboard-target]');
  </script>
</body>
</html>

