<html>
<head>
  <link rel="stylesheet" href="//dd04rofzygnm0.cloudfront.net/releases/master/865f04865d2448286626bac92c518a8f8ea8bafe/stylesheets/neue.css" />
</head>
<body>
  <div class="panel panel-default">
    <div class="panel-body">
      <p>Save the data into your Hull Preview Chrome Extension and one of the email tokens:</p>
      <p>Hostname: <pre>https://<%= hostname %></pre></p>

      <h3>Email Tokens</h3>
      <% _.map(authorizedEmails, (token, email) => { %>
        <%= email %> <pre><%= token %></pre>

      <% }) %>
    </div>
  </div>
</body>
</html>

