<html>
<head>
  <link rel="stylesheet" href="//dd04rofzygnm0.cloudfront.net/releases/master/865f04865d2448286626bac92c518a8f8ea8bafe/stylesheets/neue.css" />
</head>
<body>
  <div class="panel panel-default">
    <div class="panel-body">
      <pre>
      &lt;iframe
        src="https://<%=ctx.hostname%>/preview?hullToken=<%=ctx.token%>&amp;email=sbellity@hull.io"
        styles="position: fixed;top: 0;right: 0;bottom: 0;width: 30%;height: 100%;background: white;    z-index: 9999;"&gt;&lt;/iframe&gt;
      </pre>
    </div>
  </div>
</body>
</html>

