<html>
<head>
  <link rel="stylesheet" href="//dd04rofzygnm0.cloudfront.net/releases/master/865f04865d2448286626bac92c518a8f8ea8bafe/stylesheets/neue.css" />
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/hjfgbacjgealjkkmahcldimllolibgli">

  <meta name="connection-url" content="https://<%= hostname %>/preview?emailToken=<%= emailToken %>" />
  <title>Install Hull Chrome Extension</title>
</head>
<body>

  <div class="row">
    <div class="mt-1 col-lg-6 col-lg-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">
            Hello <%= email %>
          </h3>
        </div>
        <div class="panel-body text-center pb-2">
          <p class="mt-1">You were invited to install Hull Preview Chrome Extension. <br> <a href="https://chrome.google.com/webstore/detail/hjfgbacjgealjkkmahcldimllolibgli" target="_blank">View it on the Chrome store</a></p>

          <div class="text-center mt-1">
            <button class="btn btn-rounded btn-success btn-xl" onclick="chrome.webstore.install('https://chrome.google.com/webstore/detail/hjfgbacjgealjkkmahcldimllolibgli', function() { window.location.reload() })">Install Chrome extension</button>
          </div>


          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <p class="mt-2">After this extension is installed, whenever you highlight an email in chrome, a Hull sidebar will show, displaying all available information about it. </p>
              <hr>
              <p>
                After installation you will be notified about automatic configuration of the extension. If it fails for some reason, you can set it up manually by pasting the following url to <a href="chrome-extension://hjfgbacjgealjkkmahcldimllolibgli/options.html">the options of the extension.</a></p>

              <div class="input-group">
                <input type='text' class='form-control' id="token" value='https://<%= hostname %>/preview?emailToken=<%= emailToken %>'>
                <div class="input-group-btn">
                  <button class="btn btn-primary" data-clipboard-target="#token">Copy</button>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/clipboard.js/1.6.0/clipboard.min.js"></script>
  <script>new Clipboard('[data-clipboard-target]');</script>
</body>
</html>



