<html>
<head>
  <link rel="stylesheet" href="//dd04rofzygnm0.cloudfront.net/releases/master/865f04865d2448286626bac92c518a8f8ea8bafe/stylesheets/neue.css" />
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/hjfgbacjgealjkkmahcldimllolibgli">

  <meta name="connection-url" content="https://<%= hostname %>/preview?emailToken=<%= emailToken %>" />
  <title>Install Hull Chrome Extension</title>
</head>
<body>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Hello <%= email %></h2>
      <p class="mt-1">You were invited to install Hull Preview Chrome Extension. To install it click the button below:</p>
      <div class="text-center mt-2">
        <button class="btn btn-default" onclick="chrome.webstore.install('https://chrome.google.com/webstore/detail/hjfgbacjgealjkkmahcldimllolibgli', function() { window.location.reload() })">Install</button>
      </div>
      <p class="mt-3">
        After installation you will be notified about automatic configuration of the extension.
        If it fails for some reason, you can copy&paste following url to <a href="chrome-extension://hjfgbacjgealjkkmahcldimllolibgli/options.html">the options of the extension</a>. You can also access it via Chrome <a href="chrome://extensions/">Extension window</a>.
      </p>
      <pre>https://<%= hostname %>/preview?emailToken=<%= emailToken %></pre>
    </div>
  </div>
</body>
</html>



